.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../Images/homepage.png");
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    position: absolute;
    top: 26.5%;
    left: 11.3%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color and opacity as needed */
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
  }
  .overlay1 {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color and opacity as needed */
    padding: 20px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    
  }
  